/* CSS Reset*/
body, header, nav, main, footer, h1, div, img, ul{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rule for header*/
header {
    padding: 2em 2em;
    background-color: #220C34;
    color: white;
    text-align: center;
    border-radius: 20px;
}
header h1 {
    font-size: 3.75em;
}

/*Style rules for navigation area*/
nav{
    padding: 1%;
    list-style-type: none;
    background-color: #4A147A;
    text-align: center;
    font-size: medium;
    border: 5px solid #fff;
    border-radius: 20px;
}
 
nav a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline-block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
} 

/*Style rule for main */
main {
    border-radius: 10px;
    color: #25083E;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 10px #130321;
}

div {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #130321;
    display: block;
}

div p {
    font-size: 1.25em;
}

/*Style rule for table*/
table {
	width: 90%;
	margin: 0 auto;
    
}

table, th, tr, td {
	padding: 2%;
}

caption {
    font-family: cursive;
    color: #220C34;
	font-weight: bold;
	font-size: 2.5em;
	padding: 1%;
}

th{
    border: 3px groove #2C074D;
    background-color: #4A147A;
    color: #fff;
}

td {
    border: 3px groove #7838B2;
	text-align: center;
}

tr:nth-child(odd) {
    background-color: #BB8EE3;
}

tr:nth-child(even) {
    background-color: #E3DAEA;
}

tr:hover {
    background-color: #770DB4;
}

/*Style rule for footer area*/

footer {
    border-radius: 20px;
    background-color: #4A147A;
}
footer p {
    font-size: 1em;
    text-align: center;
    color: white;
    padding: 1em 1em;
}
footer p a{
    color: #fff;
    text-decoration: none;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* For tablets and mobile devices */
    header {
        padding: 1em;
    }
    header h1 {
        font-size: 2.5em;
    }
    nav {
        padding: 0.5em;
        font-size: small;
    }
    main {
        max-width: 90%;
    }
    div p {
        font-size: 1em;
    }
    table {
        width: 100%;
    }
}